In [125]:
from pandas_datareader import data
from datetime import datetime, timedelta, date
from bokeh.plotting import figure, show, output_file

ticker = input("Insert ticker: ")
start_date = datetime(2016, 3, 1)
end_date = datetime(2019, 9, 11)
aapl_data = data.DataReader(ticker, "yahoo", start_date, end_date)

graph = figure(x_axis_type="datetime", width=1000, height=300, 
               title=f"Candlestick chart for {ticker} from {start_date.date()} to {end_date.date()}", 
               x_axis_label="Date", y_axis_label="Price", sizing_mode="scale_width")
graph.grid.grid_line_alpha = 0.3

#lines
graph.segment(x0=aapl_data.index, x1=aapl_data.index, y0=aapl_data.Low, y1=aapl_data.High,
              line_color="black", line_width=1)
#positive
graph.quad(top=aapl_data.Close[aapl_data.Close >= aapl_data.Open], 
           bottom=aapl_data.Open[aapl_data.Close >= aapl_data.Open],
           left=(aapl_data.index[aapl_data.Close >= aapl_data.Open] - timedelta(hours=6)),
           right=(aapl_data.index[aapl_data.Close >= aapl_data.Open] + timedelta(hours=6)),
           fill_color="white", line_color="black")
#negative
graph.quad(top=aapl_data.Close[aapl_data.Close < aapl_data.Open], 
           bottom=aapl_data.Open[aapl_data.Close < aapl_data.Open],
           left=(aapl_data.index[aapl_data.Close < aapl_data.Open] - timedelta(hours=6)),
           right=(aapl_data.index[aapl_data.Close < aapl_data.Open] + timedelta(hours=6)),
           fill_color="black", line_color="black")
output_file("candlestick.html")
show(graph)

In [120]:
aapl_data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,100.769997,97.419998,97.650002,100.529999,50407100.0,94.735840
2016-03-02,100.889999,99.639999,100.510002,100.750000,33169600.0,94.943161
2016-03-03,101.709999,100.449997,100.580002,101.500000,36955700.0,95.649933
2016-03-04,103.750000,101.370003,102.370003,103.010002,46055100.0,97.072906
2016-03-07,102.830002,100.959999,102.389999,101.870003,35828900.0,95.998619
...,...,...,...,...,...,...
2019-09-05,213.970001,211.509995,212.000000,213.279999,23913700.0,213.279999
2019-09-06,214.419998,212.509995,214.050003,213.259995,19362300.0,213.259995
2019-09-09,216.440002,211.070007,214.839996,214.169998,27309400.0,214.169998
2019-09-10,216.779999,211.710007,213.860001,216.699997,31777900.0,216.699997
2019-09-11,223.710007,217.729996,218.070007,223.589996,43590900.0,223.589996